<h1>PRODUCTS</h1>

<table>

  <tr class="filters">
    <th></th>

    <th></th>

    <th>
      <% if @manufacturer != nil %>
      <form action="/products/manufacturers" method="post">

        <select class="" name="manufacturer_id">
          <% for manufacturer in @manufacturer %>
            <option value="<%=manufacturer.id%>"><%= manufacturer.name %></option>
          <% end %>
        </select>

        <input type="submit" value="Filter">
      </form>
      <% end %>
    </th>


      <th>
        <% if @types != nil %>
        <form action="/products/types" method="post">
          <select class="" name="type">

              <% for type in @types %>
                <option value="<%=type.id%>"><%= type.name %></option>
              <% end %>

          </select>
          <input type="submit" value="Filter">
        </form>
        <% end %>
    </th>


    <th></th>

    <th></th>
    <th></th>
  </tr>

    <tr class="table_header">
      <th>id</th>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Stock level</th>
      <th>Description</th>
    </tr>

  <% for product in @products %>
  <tr class="table_row">
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><%= product.manufacturer.name %></td>
    <td><%= product.type.name %></td>
    <td><%= product.quantity %></td>

      <% if product.quantity == 0 %>

        <td class="red">  Out of stock </td>
      <% elsif product.quantity <= 5 %>
      
        <td class="orange">  Low Stock </td>
      <% else %>
        <td class="green">  In Stock </td>
      <% end %>

    <td><%= product.description %></td>

    <td>
      <form action="/<%= product.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </td>

    <td>


      <a href="/<%= product.id %>/update">Update</a>
      <!-- <form action="/<%= product.id %>/update" method="get">
        <input type="submit" value="Update">
      </form> -->
    </td>
  </tr>

  <% end %>
</table>
