<h1>PRODUCTS</h1>

<table>

  <tr class="filters">
    <th>
      <form action="/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </th>

    <th>
      <form action="/product/manufacturer" method="get">
        <select class="" name="manufacturer_id">
          <% @manufacturer.each do|manufacturer| %>
          <option value=<%= manufacturer.id %>><%= manufacturer.name %></option>
          <% end %>

        </select>




      </form>
    </th>
    <th>      <form action="/delete" method="post">
            <input type="submit" value="Delete">
          </form></th>
    <th>      <form action="/delete" method="post">
            <input type="submit" value="Delete">
          </form></th>
    <th>      <form action="/delete" method="post">
            <input type="submit" value="Delete">
          </form></th>
    <th>Stock level</th>
    <th>Description</th>
  </tr>

    <tr class="table_header">
      <th>id</th>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Stock level</th>
      <th>Description</th>
    </tr>

  <% for product in @products %>
  <tr class="table_row">
    <td><%= product.id %></td>
    <td><%= product.name %></td>

    <% for manufacturer in @manufacturer %>
      <% if manufacturer.id == product.manufacturer_id %>
        <td><%= manufacturer.name %></td>
      <% end %>
    <% end %>

    <% for type in @type %>
      <% if product.type == type.id %>
        <td><%= type.name %></td>
      <% end %>
    <% end %>

    <td><%= product.quantity %></td>

      <% if product.quantity == 0 %>
        <% Email.notification %>
        binding.pry
        <td class="red">  Out of stock </td>
      <% elsif product.quantity <= 5 %>
        <td class="orange">  Low Stock </td>
      <% else %>
        <td class="green">  In Stock </td>
      <% end %>

    <td><%= product.description %></td>

    <td>
      <form action="/<%= product.id %>/delete" method="post">
        <input type="submit" value="Delete">
      </form>
    </td>

    <td>
      <form action="/<%= product.id %>/update" method="get">
        <input type="submit" value="Update">
      </form>
    </td>
  </tr>

  <% end %>
</table>
