<form class="" action="/search" method="get">

  <label for="search-manufacturer">Search by manufacturer:</label>
  <input type="text" name="search_manufacturer" id="search-manufacturer">

  <input type="submit" value="Search">
</form>


<form class="" action="/search/product" method="get">

  <label for="search-product">Search by Product name:</label>
  <input type="text" name="search_product" id="search-product">
  <input type="submit" value="Search" >

</form>


<h1>results</h1>

<table>
  <tr class="table_header">
    <th>id</th>
    <th>Name</th>
    <th>address</th>
    <th>phone</th>
    <th>email</th>
  </tr>
  <% for item in @list_manufacturer %>
  <tr>
    <td><%= item.id %></td>
    <td><%= item.name %></td>
    <td><%= item.address %></td>
    <td><%= item.phone %></td>
    <td><%= item.email %></td>
  </tr>
  <% end %>
</table>
