<h1>PRODUCTS</h1>

<form class="filters" action="/products/filters" method="post">

    <select class="" name="manufacturer_id">
      <option value=""  selected>No Filter</option>
      <% for manufacturer in @manufacturer %>
        <option value="<%=manufacturer.id%>"><%= manufacturer.name %></a></option>
      <% end %>
    </select>



    <select class="" name="type">
        <option value="" selected>No Filter</option>
        <% for type in @types %>
          <option value="<%=type.id%>"><%= type.name %></option>
        <% end %>
    </select>
    <input class="button" type="submit" value="Filter">
</form>

<a class="button block" href="/products">Cancel filters</a>

<table>
    <tr class="table_header">
      <th>id</th>
      <th>Name</th>
      <th>Manufacturer</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Stock level</th>
      <th>Description</th>
      <th></th>
      <th></th>
    </tr>

  <% for product in @products %>
  <tr class="table_row">
    <td><%= product.id %></td>
    <td><%= product.name %></td>
    <td><a href="/manufacturer/<%= product.manufacturer_id %>/details"><%= product.find_manufacturer.name %></a></td>
    <td><%= product.find_type.name %></td>
    <td><%= product.quantity %></td>

      <% if product.quantity == 0 %>
        <td class="red">  Out of stock </td>
      <% elsif product.quantity <= 5 %>
        <td class="orange">  Low Stock </td>
      <% else %>
        <td class="green">  In Stock </td>
      <% end %>

    <td><%= product.description %></td>

    <td>
      <form  action="/<%= product.id %>/delete" method="post">
        <input class="button" type="submit" value="Delete">
      </form>
    </td>

    <td>
      <a class="button" href="/product/<%= product.id %>/update">Update</a>
    </td>

  </tr>

  <% end %>
</table>
