<h1>details</h1>

<p>Name : <%= @manufacturer.name %></p>
<p>Address : <%= @manufacturer.address %></p>
<p>Phone : <%= @manufacturer.phone %></p>
<p>email : <%= @manufacturer.email %></p>

<form class="" action="/manufacturer/<%= @manufacturer.id %>/details/request" method="post">

  <label for="subject-id">Subject</label>
  <input type="text" name="subject" id="Subject-id"><br>

  <label for="request-id">Message</label> <br>
  <textarea name="request" rows="10" cols="30" id="request-id">Enter your message</textarea><br>

  <input type="submit" value="Send">

</form>
