<h1>Manufacturers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone</th>
    <th>email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% for manufacturer in @manufacturers %>
  <tr>
    <td><%= manufacturer.name %></td>
    <td><%= manufacturer.address %></td>
    <td><%= manufacturer.phone %></td>
    <td><%= manufacturer.email %></td>
    <td>
      <form action="/manufacturer/<%= manufacturer.id %>/delete" method="post">
        <input class="button" type="submit" value="Delete">
      </form>
    </td>
    <td>
      <form action="/manufacturer/<%= manufacturer.id %>/update" method="get">
        <input class="button" type="submit" value="Update">
      </form>
    </td>
    <td> <a class="button noborder" href="/manufacturer/<%= manufacturer.id %>/details">Details</a> </td>
  </tr>
  <% end %>
</table>
